.board {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
  }

.grid-cell {
        border: 1px solid #000;
        width: 100px;
        height: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;

  }

  .grid-cell:hover {
    background-color: yellow;
  }