body {
    background-color: rgb(151, 151, 151);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid-cell {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: white;
    font-size: 80px;
    text-align: center;
    line-height: 100px;
}

.grid-cell:hover {
    background-color: yellow;
  }

/* NONE WORKING TO INPUT DATA WITH DYNAMIC CREATION LINE  */
/* .board {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
  }

.grid-cell {
        border: 1px solid #000;
        width: 100px;
        height: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        background-color: white;
  } */


.game-controls {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.game-title {
    text-align: center;
}